지도학습

입력과 출력 데이터가 있고, 주어진 입력으로 부터 출력을 예측하고자 할 때 사용한다.

분류: 미리 정의된, 가능성 있는 여러 클래스 레이블 중 하나를 예측한다.

회귀: 연속적인 숫자, 또는 부동 소수점을 예측하는 것.

일반화: 모델이 처음 보는 데이터에 대해 정확하게 예측할 수 있는 경우

과적합: 학습용 데이터를 너무 잘 학습한 것. 학습하지 않은 데이터가 입력될 경우 결과를 엉뚱하게 낸다.

### 사용할 데이터

- forge.csv: 임의로 발생시킨 데이터, 분류 테스트용
- wave.csv: 임의로 발생시킨 데이터, 회귀 테스트용
- boston.csv: 미국 보스턴 지역의 집값 관련 데이터, 회귀용
- breast_cancer.csv: 유방암 데이터, 분류
- 데이터 출처: 사이킷런

In [3]:
import pandas as pd
import matplotlib as mpl

In [5]:
df1 = pd.read_csv('forge.csv')
df1.head()

       attr1     attr2  target
0   9.963466  4.596765       1
1  11.032954 -0.168167       0
2  11.541558  5.211161       1
3   8.692890  1.543220       0
4   8.106227  4.286960       0

In [12]:
# sub_df1 = df1[df1['target']== 1]
# sub_df2 = df1[df1['target']== 0]

# plt.scatter(sub_df1['attr1'], sub_df1(['attr2'])
# plt.scatter(sub_df2['attr1'], sub_df2(['attr2'])